<div class="position-relative container my-5 px-4 py-2">
  <app-select [title]="'Categorys'" [data]="categorys" (selectedValue)="FilterProdects($event)"></app-select>
  @if(status=="success"){
    <div class="">
      <div class="row">
        @for (product of products; track $index) {
          <div class="col-4 my-4">
            <app-prodect [prodectInfo]="product" (item)="AddToCart($event)"></app-prodect>
          </div>
          
        }
          
      </div>
     
      
  </div>
  }
  @else if (status=="loading") {
    <app-spinner></app-spinner>
  }
  @else {
    <div class="container my-5 px-4 py-2">
      <div class="alert alert-danger text-capitalize fs-1">Eror {{errorNumber}}</div>
    </div>
  }
  
</div>
